FLASK_ENV="" 				# Provide a value for FLASK_ENV
SECRET_KEY="" 				# Provide a value for SECRET_KEY

DATABASE_URL="" 				# Provide a value for DATABASE_URL

# DB_HOST=97.74.84.129
# DB_PORT=3306
# DB_NAME=lg4
# DB_USER=lg4
# DB_PASSWORD=lg4@new2026

JWT_SECRET_KEY="" 				# Provide a value for JWT_SECRET_KEY
JWT_ACCESS_TOKEN_EXPIRES="" 				# Provide a value for JWT_ACCESS_TOKEN_EXPIRES
JWT_REFRESH_TOKEN_EXPIRES="" 				# Provide a value for JWT_REFRESH_TOKEN_EXPIRES

GOOGLE_CLIENT_ID="" 				# Provide a value for GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET="" 				# Provide a value for GOOGLE_CLIENT_SECRET
GOOGLE_OAUTH_URL="" 				# Provide a value for GOOGLE_OAUTH_URL

GITHUB_CLIENT_ID="" 				# Provide a value for GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET="" 				# Provide a value for GITHUB_CLIENT_SECRET
GITHUB_OAUTH_URL="" 				# Provide a value for GITHUB_OAUTH_URL

LINKEDIN_CLIENT_ID="" 				# Provide a value for LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET="" 				# Provide a value for LINKEDIN_CLIENT_SECRET
LINKEDIN_OAUTH_URL="" 				# Provide a value for LINKEDIN_OAUTH_URL

BACKEND_URL="" 				# Provide a value for BACKEND_URL
FRONTEND_URL="" 				# Provide a value for FRONTEND_URL

COURSES_API_URL="" 				# Provide a value for COURSES_API_URL

LLM_PROVIDER="" 				# Provide a value for LLM_PROVIDER
GROQ_API_KEY="" 				# Provide a value for GROQ_API_KEY
GROQ_MODEL="" 				# Provide a value for GROQ_MODEL
OPENAI_API_KEY="" 				# Provide a value for OPENAI_API_KEY
OPEN_ROUTER_API_KEY="" 				# Provide a value for OPEN_ROUTER_API_KEY
LLM_MODEL="" 				# Provide a value for LLM_MODEL
SARVAM_API_KEY="" 				# Provide a value for SARVAM_API_KEY
